.book-list
    overflow: auto
    .card
        margin-bottom: 1rem

    .book-thumbnail, .book-thumbnail-lg
        float: left
        margin: 0 1rem 1rem 0
        width: 128px

    .btnBooksCreateChallenge
        margin-bottom: .5rem

    .book-title, .book-authors
        margin: 0
    .book-authors
        font-size: .83rem
        color: #9da9bb!important
