@import "../../settings"

.stat-card
    margin-bottom: 1rem
    background-color: $bodyComplimentary
    .stat-counter
        font-size: 3rem
        font-weight: 900
    .card-subtitle
        font-size: .83rem

.books-list
    @media only screen and (max-width: 991px)
        margin-top: 1rem