.stat-card
    margin-bottom: 1rem
    .stat-counter
        font-size: 3rem
        font-weight: 900
    .card-subtitle
        font-size: .83rem

.main-section-card
    background-color: #E5E5E5 !important