.GlobalNav
    .App-logo
        height: 5vmin
        pointer-events: none
    .App-Logo-Link
        text-decoration: none
        color: white

    .tag-line
        font-size: .83rem
        color: #2670E1
        margin-left: 1rem

    @media (prefers-reduced-motion: no-preference)
        .App-logo
            animation: App-logo-spin infinite 20s linear

    @keyframes App-logo-spin
        from
            transform: rotate(0deg)
        to
            transform: rotate(360deg)