.book-thumbnail
    float: left
    margin-right: 2rem
    margin-bottom: 1rem
    height: 60px
    width: 60px

.challenge-item
    border-bottom: 1px solid #EAF0F8
    padding: 1rem 0

    &:last-child
        border-bottom: none

    .book-title, .date, .amount
        font-size: 1rem
        margin: 0